<ng-template #modalContent>
    <img src="assets/Loading_icon.gif">
    <div class="modal-body">{{ modalData?.title }}</div>
</ng-template>

<div class="row text-center m-4">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="changeDepth('month', $event)" [class.active]="view === 'month'">
                Month
            </div>
            <div class="btn btn-primary" (click)="changeDepth('week', $event)" [class.active]="view === 'week'">
                Week
            </div>
            <div class="btn btn-primary" (click)="changeDepth('day', $event)" [class.active]="view === 'day'">
                Day
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <label class="btn btn-primary" [class.active]="hasStartFromFilter">
                <input id="collapse-checkbox" 
                        name="collapse-checkbox" 
                        type="checkbox" 
                        class="hide"  
                        [(ngModel)]="hasStartFromFilter" 
                        [checked]="hasStartFromFilter"> Start From
            </label>
            <calendar-util-date-time-picker name="date-start" [(ngModel)]="startDate" placeholder="Start Date">
            </calendar-util-date-time-picker>
        </div>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <label class="btn btn-primary" [class.active]="hasEndByFilter">
                <input id="collapse-checkbox" 
                        name="collapse-checkbox" 
                        type="checkbox" 
                        class="hide"  
                        [(ngModel)]="hasEndByFilter" 
                        [checked]="hasEndByFilter"> End By
            </label>
            <calendar-util-date-time-picker name="date-end" [(ngModel)]="endDate" placeholder="End Date">
            </calendar-util-date-time-picker>
        </div>
    </div>
</div>
<div #gantt_here style="width: 100%; height: 100%;"></div>