<!--
<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">{{ modalData?.title }}</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            Work Item:
            <pre>{{ modalData?.workItem | json }}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
    </div>
</ng-template>
-->

<ng-template #modalContent>
    <img src="assets/Loading_icon.gif">
    <div class="modal-body">{{ modalData?.title }}</div>
</ng-template>

<div class="row pt-4">
    <div class="span12 memberCheckBoxes">
        <form>
            <label class="checkbox-inline px-2" *ngFor="let teamMember of teamMembers">
                <div class="form-group">
                    <input class="form-control" type="checkbox"
                    [id]="teamMember.id"
                    [name]="teamMember.uniqueName"
                    class="hide"                                
                    (change)="getViewWorkItem()"
                    [(ngModel)]="isTeamMemberSelected[teamMember.id]"
                    [checked]="isTeamMemberSelected[teamMember.id]">
                    <span>{{teamMember.displayName}} </span>            
                </div>
            </label>
        </form>
    </div>    
</div>

<div class="row pb-4">
    <div class="span12 memberCheckBoxes">
        <div class="btn-group">
            <div class="btn btn-outline-info" (click)="getAllMembers()">
                All
            </div>
            <div class="btn btn-outline-info" (click)="getMine()">
                Mine
            </div>
        </div>
    </div>    
</div>

<div class="row pb-4">
    <div class="span12 memberCheckBoxes">
        <div class="btn-group">
            <label class="btn btn-primary" [class.active]="isCollapse">
                <input id="collapse-checkbox" 
                       name="collapse-checkbox" 
                       type="checkbox" 
                       class="hide"  
                       (change)="collapse()" 
                       [(ngModel)]="isCollapse" 
                       [checked]="isCollapse"> Collapse
            </label>
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange($event)">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange($event)">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange($event)">
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(viewString + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="monthInit()" [class.active]="view === 'month'">
                Month
            </div>
            <div class="btn btn-primary" (click)="weekInit()" [class.active]="view === 'week'">
                Week
            </div>
            <!--
            <div class="btn btn-primary" (click)="iterationInit()" [class.active]="view === 'iteration'">
                Iteration
            </div>
            -->
            <!--
            <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
                Day
            </div>
            -->
        </div>
    </div>
</div>
<br>
<div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
        >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <!--
    <div *ngSwitchCase="'iteration'">
        <div>
            <div class="cal-day-headers">
                <div class="cal-header cal-today cal-weekend" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <b>Sprint </b>
                </div>
            </div>
        </div>
    </div>
    -->
    <!--
    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
    -->
</div>

<div class="row text-center py-4">
    <div class="span12 memberCheckBoxes">
        <form class="col-md-12 form-inline">
            <div class="form-group">             
                <label> Upload JustLogin Data: </label>
                <div class="input-group px-2">                    
                    <input type="file" class="form-control"  (change)="onFileChange($event)" multiple />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row text-center pt-4">
    <div class="col-md-12">
        <h3>Export To Csv</h3>
    </div>
</div>

<div class="row text-center py-4">
    <div class="span12 memberCheckBoxes">
        <form class="form-inline">
            <div class="form-group">
                <label> Start: </label>
                <calendar-util-date-time-picker name="date-start" [(ngModel)]="startDate" placeholder="Start Date">
                </calendar-util-date-time-picker>

                <label> End: </label>
                <calendar-util-date-time-picker name="date-end" [(ngModel)]="endDate" placeholder="End Date">
                </calendar-util-date-time-picker>

                <label> Name: </label>
                <div class="span6 px-2 input-group">                    
                    <input type="text" name="excel-file-name" class="form-control" [(ngModel)]="excelFileName">
                </div>               
                
                <div class="btn-group">
                    <button class="btn btn-danger" (click)="exportToDailyCsv()">
                        Export (Daily)
                    </button>
    
                    <button class="btn btn-danger" (click)="exportToWeeklyCsv()">
                        Export (Weekly)
                    </button>
                </div>
                
            </div>
        </form>
    </div>
</div>


<!--

<br>
<br>
<br>

<h3>
    Edit events
    <button class="btn btn-primary pull-right" (click)="addEvent()">
        Add new
    </button>
    <div class="clearfix"></div>
</h3>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Title</th>
            <th>Primary color</th>
            <th>Secondary color</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Remove</th>
        </tr>
    </thead>

    
    <tbody>
        <tr *ngFor="let event of events; let index = index">
            <td>
                <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()">
            </td>
            <td>
                <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()">
            </td>
            <td>
                <input type="color" [(ngModel)]="event.color.secondary" (change)="refresh.next()">
            </td>
            <td>
                <calendar-util-date-time-picker [(ngModel)]="event.start" (ngModelChange)="refresh.next()" placeholder="Not set">
                </calendar-util-date-time-picker>
            </td>
            <td>
                <calendar-util-date-time-picker [(ngModel)]="event.end" (ngModelChange)="refresh.next()" placeholder="Not set">
                </calendar-util-date-time-picker>
            </td>            
            <td>
                <button class="btn btn-danger" (click)="events.splice(index, 1); refresh.next()">
                    Delete
                </button>
            </td>
            
        </tr>
    </tbody>
    
</table>
-->
